<!DOCTYPE html>
<html xmlns:th="https://wwww.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.css">
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.js"></script>
    <link rel="stylesheet" href="css/stilos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Registro Usuario</title>
</head>

<body>
    <h1>Usuario
        <a type="button" class="btn btn-outline-dark" th:href="@{/usuario/añadir}"><i class="fa fa-plus"></i>Agregar Usuario</a>
    </h1>
    <div class="container-fluid">
        <h1>Listado Usuarios</h1>
        <table class="table table-dark" id="table">
            <thead class="thead-dark">
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Tipo Documento</th>
                <th>Num Documento</th>
                <th>correo</th>
                <th>Tipo Usuario</th>
                <th>Estado</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                <tr th:each="us:${usuarios}">
                    <td th:text="${us.idUsuario}"></td>
                    <td th:text="${us.nombre}"></td>
                    <td th:text="${us.apellido}"></td>
                    <td th:text="${us.TipoDoc}"></td>
                    <td th:text="${us.NumDoc}"></td>
                    <td th:text="${us.correo}"></td>
                    <td th:text="${us.TipoUser}"></td>
                    <td th:text="${us.estado}"></td>
                    <td>
                        <a role="button" class="btn btn-warning btn-sm" th:href="@{/usuario/editar/}+${us.idUsuario}"
                            onclick="return confirm('Estás seguro que quieres editar esta casilla?');">
                            <i class="bi bi-pencil"></i>
                        </a>

                        </a>
                        <a role="button" class="btn btn-danger btn-sm" th:href="@{/usuario/delete/}+${us.idUsuario}" onclick="return confirm('Estás seguro que quieres eliminar esta casilla?');">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <li class="list-group-item list-group-item-primary"><a href="../index">Inicio</a></li>
    <script>
        console.log("${cliented}");
        var datat = document.querySelector("#table");
        var dataTable = new DataTable("#table", {
            perPage: 10,
            labels: {
                placeholder: "Busca por un campo...",
                perPage: "{select} registros por página",
                noRows: "No se encontraron registros",
                info: "Mostrando {start} a {end} de {rows} registros",
            }
        });

        <li class="list-group-item list-group-item-primary"><a href="index">Agregar Usuario</a></li>
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>

</html>