<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.css">
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@latest/vanilla-dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../CSS/terrain.css">
    <title>Terrenos</title>
</head>
<body>
    <header>
        <a href="../index"><i class="bi bi-backspace"></i></a>
        <h1>Terrenos Disponibles</h1>
        <img src="../IMG/RDAlogo.png" alt="rdalogo" height="80%">
    </header>
    <div class="all">
        <div class="line">ㅤ</div>
        <div class="nav">
            <button type="button" class="buttonadd" data-bs-toggle="modal" data-bs-target="#addmodal"><i class="bi bi-plus-circle"></i>&nbsp;Agregar</button>              
            <input type="text" placeholder="Buscar">
        </div>
        <div class="todo">
            <div th:if="${terrenos.size==0}" id="nao">
                <div class="formar">
                    <li class="bi bi-exclamation-circle">&nbsp;No hay Terrenos para mostrar</li>
                </div>
            </div>
            <div th:if="${terrenos.size>0}" th:each="t:${terrenos}" class="terreno">
                <h2 th:text="${t.nomTer}"></h2>
                <span th:text="${t.ciudadTer}"></span>
                    <div class="estado" th:if="${t.estTer==true}"><li class="bi bi-circle-fill"></li>Activo</div>
                    <div class="estado" th:if="${t.estTer==false}"><li class="bi bi-circle-fill" style="color: red;"></li>Inactivo</div>
                    <br>
                    <button type="button" data-bs-toggle="modal" th:attr="data-bs-target='#modal' + ${t.idTer}" rol="button"><li class="bi bi-three-dots"></li></button>
                    <a th:href="@{/terreno/listid/} + ${t.idTer}" rol="button"><li class="bi bi-pencil"></li></a>
                    <a th:href="@{/terreno/delete/} + ${t.idTer}" rol="button" onclick="return confirm('¿Estás seguro que quieres eliminar este terreno?');"><li class="bi bi-trash"></li></a>

                    <div class="modal fade" th:attr="id='modal' + ${t.idTer}"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLa bel" th:text="${t.nomTer}"></h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body modal-body-desc">
                                <div class="content">
                                    <b>Ubicación: </b><span th:text="${t.ciudadTer}"></span><br><br>
                                    <b>Tipo de terreno: </b><span th:text="${t.tipTer}"></span><br><br>
                                    <b>Extensión: </b><span th:text="${t.extensionTer} + ' Hectáreas'"></span><br><br>
                                    <b>Descripción:</b><br>
                                    <span th:text="${t.descTer}"></span><br>
                                </div>
                                <div class="stats"><b>Estado:</b>
                                    <div class="estado" th:if="${t.estTer==true}"><li class="bi bi-circle-fill"></li>Habilitado</div>
                                    <div class="estado" th:if="${t.estTer==false}"><li class="bi bi-circle-fill" style="color: red;"></li>Inactivo</div><br>
                                    <b>Terreno Disponible:</b><p th:text="${t.terDispTer} + '%'"></p>
                                </div>
                            </div>
                            <div class="modal-footer">
                              <a type="button" th:href="@{/terreno/listid/} + ${t.idTer}" class="btn btn-primary">Modificar</a>
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="return confirm('¿Estás seguro que quieres eliminar este terreno?');">Eliminar</button>
                            </div>
                          </div>
                        </div>
                      </div>
            </div>
        </c:forEach>
        </div>
    </div>
    </div>
    <div class="modal fade" id="addmodal" tabindex="-1" aria-labelledby="addmodal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="addmodal" th:text="${accion}"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-body-form">
                <div class="container-fluid">
                    <form method="post" th:action="@{/terreno/addter}" th:object="${terreno}">
                    <div class="row">
                        <div class="col-ms-4">
                            <label>Nombre:</label><br>
                            <input type="text" th:field="*{nomTer}">
                            <p th:if="${#fields.hasErrors('*')}" th:errors="*{nomTer}"></p>
                        </div>
                        <div class="col-ms-4">
                            <label>Ubicación:</label>
                            <input type="text" th:field="*{ciudadTer}">
                            <p th:if="${#fields.hasErrors('*')}" th:errors="*{ciudadTer}"></p>
                        </div>
                        <div class="col-ms-4">
                            <label>Tipo Terreno:</label>
                            <input type="text" th:field="*{tipTer}">
                            <p th:if="${#fields.hasErrors('*')}" th:errors="*{tipTer}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-ms-5">
                            <label>Descripción:</label><br>
                            <textarea th:field="*{descTer}"></textarea>
                            <p th:if="${#fields.hasErrors('*')}" th:errors="*{descTer}"></p>
                        </div>
                        <div class="col-ms-3">
                            <label>Extensión(Ha):</label>
                            <input type="number" th:field="*{extensionTer}">
                            <p th:if="${#fields.hasErrors('*')}" th:errors="*{extensionTer}"></p>
                        </div>
                        <div class="col-ms-3">
                            <label>Terreno Disponible(%):</label>
                            <input type="number" th:field="*{terDispTer}" min="1" max="100" value="100">
                            <p th:if="${#fields.hasErrors('*')}" th:errors="*{terDispTer}"></p>
                        </div>
                    </div>
                    <div class="foot-form">
                        <label>Estado</label>
                            <input type="checkbox" th:field="*{estTer}" checked="">
                            <span>Activo</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" value="Agregar" name="accion" class="btn btn-primary">Agregar</button>
            </form>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Volver</button>
            </div>
        </div>
        </div>
        <div th:if="${error}">
            <script>
                const Toast = Swal.mixin({
                toast: true,
                position: 'top',
                showConfirmButton: false,
                timer: 3300,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
                })

                Toast.fire({
                icon: 'error',
                title: 'No se pudo agregar el Terreno'
                })
            </script>
        </div>
    </div>
</body>
</html>