body{
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
header{
    margin: 0;
    height: 8em;
    width: 100%;
    padding: 1.5% auto;
    background-color: #008037;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 255%;
    margin: auto 15%;
    font-weight: bold;
}
.bi-backspace{
    font-size: 300%;
    color: #07682f;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.bi-backspace:hover, .bi-backspace:focus{
    color: #055326;
}
.all{
    height: 100%;
    background-color: transparent;
}
.line{
    background-color: #07682f;
    top: 0px;
    display: flex;
}
.nav{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    top: 20px;
    padding: 1.2%;
}
.line , .nav{
    position: sticky;
}
.buttonadd{
    text-decoration: none;
    font-size: 95%;
    border: 1px #008037 solid;
    color: #008037;
    vertical-align: center;
    font-weight: 400;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: auto 3%;
}
.buttonadd:hover, .buttonadd:focus{
    background-color: #008037;
    color: white;
}
.nav input{
    width:30%;
    padding: 0.3%;
    outline: none;
    border: 1px solid #001f0d;
    border-radius: 0.25rem;
} 
.formar{
    background-color: #ebebf3;
    width: 72%;
    border-radius: 10px;
    margin: 2% auto;
    padding: 0.5%;
}
#nao li{
    margin: 3;
    color: #07682f;
    font-size: 1.2em;
}
li{
    list-style: none;
    display: inline-block;
    color: black;
    font-size: 1.2em;
    margin: 2% 4%;
} 
button{
    background-color: transparent;
    border: none;
    outline: none;
}
.terreno{
    width: 20%;
    display: inline-block;
    border-radius: 6px;
    margin: 1.5%;
    background-color: white;
    border: 2px solid #bcbcc5;
}
h2{
    margin: 4% 0 1% 0%;
    font-size: 1.5rem;
    color: #025f29;
    font-weight: bold;
}
.terreno span{
    font-size: 1.1rem;
    color:#07682f;
}
.estado{
    display: inline;
    margin: 2% 0 2% -30%;
}
.estado{
    margin: auto 1%;
}
.bi-circle-fill{
    font-size: 0.6em;
    color: green;
}
/* Modal */
.modal-title{
    font-weight: bold;
    font-size: 1.6em;
}
.modal{
    text-align: left;
    --bs-modal-width: 900px;   
}
b{
    margin: 2% auto;
}
.modal-body-desc{
    display: inline-flex;
}
.modal-body-desc span{
    color: black;
}
.content{
    background-color: transparent;
    width: 50%;
    height: 320px;
    padding: 2%;
    overflow: auto;
}
.stats{
    background-color: transparent;
    width: 50%;
    float: left;
    padding: 3%;
}
.modal-body-form{
    width: 100%;
    display: block;
    text-align: left;
    padding: 1%;
}
.row{
    padding: 1%;
}
.row div{
    padding: 1%;
}
.foot-form{
    text-align: center;
    margin-bottom: 2%;
}
.col-ms-4{
    width: 33.3%;
}
.col-ms-5{
    width: 50%;
}
.col-ms-3{
    width: 25%;
}
.row label, .foot-form label{
    margin-left: 8%;
    font-weight: 600;
    font-size: 1rem;
}
.row input[type="text"], .row input[type="number"], textarea{
    border: 1px rgb(155, 153, 153) solid;
    margin: 3%;
    padding: 1.5%;
    width: 85%;
    border-radius: 5px;
}
/* Errores */
.row p{
    text-align: left;
    margin-left: 3%;
    color: red;
}
.row .col-ms-3 p{
    text-align: center;
    margin-left: 0%;
}
