<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RDA</title>
</head>
<body>
    <center>
        <h1>fundacion red de arboles</h1>
        <h2>proyecto</h2>
    </center>
    <h2>Base de datos</h2>
    <a href="terreno/">Terreno</a> <input type="checkbox" name="" id="" checked><br>
    <a href="empresa/">Empresa</a> <input type="checkbox" name="" id="" checked><br>
    <a href="voluntario/">Voluntario</a> <input type="checkbox" name="" id="" checked><br>
    <a href="usuario/">Usuario</a> <input type="checkbox" name="" id="" checked><br>
    <a href="observacion/">Observacion</a> <input type="checkbox" name="" id="" checked><br>
    <a href="Evento/">Evento</a> <input type="checkbox" name="" id="" checked><br>
</body> 
</html>